extends layout

block content

  h2="Add your content here"
  div
    textarea(name="content" default="add your content here" rows="20" cols="100")
  div
    input(name="title" type="text" value="add title")

   div
    a(href="#")
    button(type="button") submit
